@font-face {
  font-family: "Calistoga Regula";
  src: url(../assets/Calistoga-Regular: .ttf;);
}


body{
  font-family: "Calistoga Regular";
  *background-color: rgb(40, 33, 33);
  background-image: url(../assets/fondo3.jpg);
  font-family: arial;

}


main{
  position: absolute;
  left: 65px;
  border: 2px solid rgba(0, 10, 255, 0.94);
  width: 1200px;
  min-height: 300px;
  background-color: rgba(255,255, 255,.8);

  }

  /*header*/
header#hprincipal{
  background-image:repeating-radial-gradient(rgb(0, 255, 232), rgba(238, 56, 220, 0.95));
  font-family: "Calistoga Regular" !important;
  position: relative;
  width: 100%;
  height: 190px;
  border-bottom: 2px solid rgba(232, 52, 198, 1);


}

header#hprincipal .logo{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 30px;
  left: 30px;
  background-image: url(../assets/po.jpg);
  background-size: 100%;

}

header#hprincipal h1{
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  left: 150px;
  top: 20px;
  color:rgb(0, 0, 0);

}

/*nav/menu*/
nav.menu{
  border-top: 2px solid  rgba(232, 52, 198, 1);
  border-bottom: 4px solid rgba(232, 52, 198, 1);
  position: relative;
  background-image: linear-gradient(rgb(150, 0, 255), rgb(36, 131, 208));
  height: 40px;

}

/*lin*/
nav.menu ul li a:hover,
nav.menu ul li a.activo{
  background-color: rgb(147, 26, 171);
}
nav.menu ul{
  position: absolute;
  top:-16px;
  width: 100%;
}

nav.menu ul li{
  position: relative;
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

nav.menu ul li a{
  color: white;
  display: flex;
  position: relative;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 1px;


}
/*footer*/
footer#fprincipal{
  position: relative;
  width:100%;
  height: 100px;
  text-align: center;
  border-top: 2px solid rgba(0, 10, 255, 0.94);
  background-image:repeating-radial-gradient(rgb(0, 255, 232), rgba(238, 56, 220, 0.95));

}
footer div{
  font-family: "Calistoga Regular";
  color: #000000;
  padding: 30px;
  font-size: 30px;
  font-weight: bold;

}

/*Table estructura general*/
table, tr, td, th{
  border: 1px solid rgba(0, 0, 0, 1);
  border-collapse: collapse;
  padding: 1px 10px;
}

table,tr, td{
  padding: 2px 2px 2px 4px
}

table{
  position: relative;
  width: 95%;
  margin: 20px;
}

table thead{
background-image: linear-gradient(rgb(150, 0, 255), rgb(36, 131, 208));
  color: white;

}

/*Filas Colores Alternos*/
table tbody tr:nth-child(odd){
  background-color: rgba(159, 22, 208, 0.36)

}
caption{
background-image: linear-gradient(rgb(150, 0, 255), rgb(36, 131, 208));
  font-size: 40px;
  color: white;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  font-family: "alistoga Regular";
}

table tbody tr:nth-child(even){
background-color: rgba(21, 57, 138, 0.36)
}
